// * main tags body
$main_tags_body: 90%;

// * header basic border value 
$header_border_value: none;

// * main basic border value
$main_border_value: none;

// * section1 basic border value
$section1_border_value: none;

// * section2 basic border value
$section2_border_value: none;

// * section3 basic border value
$section3_border_value: none;  

// * section4 basic border value
$section4_border_value: none;

// * footer basic border value
$footer_border_value: none;